* {
    box-sizing: border-box;
    /* garante que padding e border não aumentem o tamanho real */
    margin: 0;
    padding: 0;
}

/* ===== Corpo da página ===== */
body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    background-color: #474747;
}

#audioPreview {
    margin-top: 20px;
}

#htmlCode {
    margin-top: 20px;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;
}

input,
button {
    margin: 10px 0;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar .titulo {
    color: #ff6200;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.navbar .right-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar .sobre {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
}

.navbar .instrucoes {
    width: 30px;
    height: 30px;
    background-color: #ff6200;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}